<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=PH.SPC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString2"
            connectionString="Data Source=10.2.9.60;Initial Catalog=PH.SPC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString1"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.SPC;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.SPC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString4"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.SPC;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString5"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.SPC;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString6"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.SPC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString7"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.SPC;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString8"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.SPC;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.SPC.BO.Properties.Settings.PH_SPCConnectionString9"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.SPC;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>