<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.FabricInspection;uid=sa;pwd=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString2"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=PH.FabricInspection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspetionConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\resource\project\FIS2_P001145\test\PHWinApp\DataBase\PH.FabricInspetion.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString1"
            connectionString="Data Source=10.2.1.240\Test;Initial Catalog=PH.FabricInspection;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.FabricInspection;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString4"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.FabricInspection;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString5"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.FabricInspection;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString6"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.FabricInspection;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString7"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.FabricInspection;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.FabricInspection.BO.Properties.Settings.PH_FabricInspectionConnectionString8"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.FabricInspection;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>