<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQC_OfflineConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PH.MobileQC_Offline;Persist Security Info=True;;User ID=sa;Password=teamwork" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString1"
      connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.MobileQC;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString"
      connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString2"
      connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=sa;Password=teamwork"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_FabricInspectionConnectionString"
      connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.FabricInspection;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString3"
      connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MobileQC;User ID=itsys;Password=uatadm1n"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString4"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MobileQC;User ID=ituser"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString5"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString6"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=Ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString7"
      connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.MobileQC;User ID=ituser;Password=itsystem@2009;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString8"
      connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=ituser"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_LWPM_WPConnectionString"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=ituser"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString9"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MobileQC;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.MobileQC.BO.Properties.Settings.PH_MobileQCConnectionString10"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MobileQC;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>