<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString1"
      connectionString="Data Source=10.2.1.240\Test;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString2"
      connectionString="Data Source=10.2.1.240\TEST;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=sa;Password=teamwork"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString3"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString4"
      connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=sa;Password=teamwork"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString5"
      connectionString="Data Source=10.2.1.240;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=itsys;Password=uatadm1n"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString6"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.LWPM.WP;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString7"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString8"
      connectionString="Data Source=10.2.1.240;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=itsys"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString9"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LWPM.WP;User ID=ituser"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString10"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=ituser"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString11"
      connectionString="Data Source=10.2.1.240;Initial Catalog=PH.LWPM.WP;User ID=itsys;Password=uatadm1n"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString12"
      connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LWPM.WP;User ID=ituser;Password=itsystem@2009"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString13"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.LWPM.WP;User ID=ituser"
      providerName="System.Data.SqlClient" />
    <add name="PH.LWPM.BO.Properties.Settings.PH_LWPM_WPConnectionString14"
      connectionString="Data Source=10.2.1.10;Initial Catalog=PH.LWPM.WP;Persist Security Info=True;User ID=ituser"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>