<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=PH.BasicInfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.BasicInfo;User ID=sa;pwd=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString2"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.BasicInfo;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString3"
            connectionString="Data Source=SL-SVRUAT\TEST;Initial Catalog=PH.BasicInfo;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString4"
            connectionString="Data Source=SL-SVRUAT\TEST;Initial Catalog=PH.BasicInfo;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString5"
            connectionString="Data Source=10.2.1.240\Test;Initial Catalog=PH.BasicInfo;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString6"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.BasicInfo;Persist Security Info=True;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString7"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.BasicInfo;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString8"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.BasicInfo;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString9"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.BasicInfo;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString10"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.BasicInfo;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString11"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.BasicInfo;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString12"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.BasicInfo;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString13"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.BasicInfo;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.BasicInfo.BO.Properties.Settings.PH_BasicInfoConnectionString14"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.BasicInfo;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>