<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.RWO.BO.Properties.Settings.PH_RWOConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.RWO;uid=sa;pwd=teamwork;"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWOConnectionString1"
            connectionString="Data Source=ISUN-6D7769C9F0\SQLEXPRESS;Initial Catalog=PH.RWO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWOConnectionString2"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWOConnectionString3"
            connectionString="Data Source=SL-SVRUAT\TEST;Initial Catalog=PH.RWO;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.RWO1;User ID=ituser;Password=11@11"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString1"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString2"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString4"
            connectionString="Data Source=SL-SVRUAT;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString5"
            connectionString="Data Source=SL-SVRUAT;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString6"
            connectionString="Data Source=SL-SVRUAT\test;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString7"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString8"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString9"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=ituser;Password=11@11"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString10"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString11"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.RWO1;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString12"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString13"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString14"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString15"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.RWO1;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString16"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.RWO1;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString17"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.RWO1;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString18"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString19"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString20"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.RWO1;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.RWO.BO.Properties.Settings.PH_RWO1ConnectionString21"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.RWO1;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
