<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.HDO.BackEnd.Properties.Settings.PH_HDOConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.HDO;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>