<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LineBalanceII;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.LineBalanceII;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString1"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.LineBalanceII;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString2"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LineBalanceII;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString4"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.LineBalanceII;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString5"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.LineBalanceII;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString6"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.LineBalanceII;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_Platform_MiscConnectionString"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.Platform.Misc;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.LineBalanceII.BO.Properties.Settings.PH_LineBalanceIIConnectionString7"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.LineBalanceII;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>