<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString1"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString2"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MIDc;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString4"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString5"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MIDc;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString6"
            connectionString="Data Source=10.2.1.241;Initial Catalog=PH.MIDc;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString7"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MIDc;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MRConnectionString"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MR;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString8"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MIDc;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString9"
            connectionString="Data Source=10.2.1.241;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString10"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString11"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString12"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.MIDc.BO.Properties.Settings.PH_MIDcConnectionString13"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.MIDc;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>