<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.POPC;user id=sa;password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString1"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString2"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString4"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.POPC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString5"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.POPC;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPC1ConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.POPC1;Persist Security Info=True;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString6"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString7"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString8"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.POPC;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString9"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.POPC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString10"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.POPC;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString11"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.POPC;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString12"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString13"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString14"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.POPC;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString15"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.POPC;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.POPC.BO.Properties.Settings.PH_POPCConnectionString16"
            connectionString="Data Source=S99VF403;Initial Catalog=PH.POPC;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>