<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.HDO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString1"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.HDO;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString2"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.HDO;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString3"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.HDO;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString4"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.HDO;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PHGDB2ConnectionString"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PHGDB2;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PHGDB2ConnectionString1"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PHGDB2;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString5"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.HDO;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString6"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.HDO;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString7"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.HDO;Persist Security Info=True;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.HDO.BO.Properties.Settings.PH_HDOConnectionString8"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.HDO;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>