<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.MR.BO.Properties.Settings.Sys_AuthorityConnectionString"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=Sys.Authority;User ID=sa;Password=teamwork"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_FRNConnectionString"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.FRN;User ID=itsys;Password=uatadm1n"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_MRConnectionString"
            connectionString="Data Source=10.2.1.240;Initial Catalog=PH.MR;User ID=itsys"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_MRConnectionString1"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.MR;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_MRConnectionString2"
            connectionString="Data Source=10.2.1.10\sqlserver2005;Initial Catalog=PH.MR;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_MRConnectionString3"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MR;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_MRConnectionString4"
            connectionString="Data Source=S99VF403\SQLSERVER2005;Initial Catalog=PH.MR;Persist Security Info=True;User ID=ituser"
            providerName="System.Data.SqlClient" />
        <add name="PH.MR.BO.Properties.Settings.PH_MRConnectionString5"
            connectionString="Data Source=10.2.1.10;Initial Catalog=PH.MR;User ID=ituser;Password=itsystem@2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration> 