<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PH.FabricInspection.UI.Properties.Settings.PH_FabricInspectionConnectionString"
            connectionString="Data Source=10.2.1.240\test;Initial Catalog=PH.FabricInspection;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>